

 


<div class="row">
  <div class="col-lg-9">
    <nb-card class="inline-form-card">
      <nb-card-header>Hej!<br> Logga in med din mailadress.</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth [value]="user" (change)='user = $event.target.value' [placeholder]="placeHolderUser">
          <input type="password" nbInput fullWidth [value]="pwd"  (change)='pwd = $event.target.value' [placeholder]="placeHolderPwd">
        </div>
        <div class="offset-sm-3 col-sm-9">
          <div *ngIf="testBoolean == true">
            <nb-select (selectedChange)="mySelectedChanged($event)">
              <nb-option *ngFor="let t of myTypes" [value]="t">{{ t.name}}</nb-option>
            </nb-select>
            <h1>hopp: {{mySelected?.name}}</h1>
          </div>

        </div>
        <div class="col-md-6 col-sm-12">
          <div>
            <nb-checkbox (checkedChange)="onBockChange($event)">Klicka</nb-checkbox>
            <div *ngIf="klick">
              <nb-select (selectedChange)="mySelectedChanged($event)">
                <nb-option *ngFor="let t of myTypes" [value]="t">{{ t.name}}</nb-option>
              </nb-select>
              <h1>hopp: {{mySelected?.name}}</h1>
            </div>
        </div>

          <div>
            <nb-checkbox [(ngModel)]="bock2">Hej hoppsan</nb-checkbox>
          </div>
        </div>
        <div class="offset-sm-3 col-sm-9">
          <button  nbButton status="primary" (click)="onButtonClick()">Logga in</button>
        </div>
        <div class="offset-sm-3 col-sm-9">


        </div>
        </form>
      </nb-card-body>
      <nb-card-body>
        <form class="form-inline">
        <section class="another-action" aria-label="Register">
          Har du inget konto?<a class="text-link" routerLink="../register">Register</a>
        </section>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

