

 


<div class="row">
  <div class="col-lg-6">
    <nb-card class="inline-form-card">
      <nb-card-header>Hej!<br> Logga in med din mailadress.</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth [value]="user" (change)='user = $event.target.value' [placeholder]="placeHolderUser">
          <input type="text" nbInput fullWidth [value]="pwd"  (change)='pwd = $event.target.value' [placeholder]="placeHolderPwd">
        </div>
        <div class="offset-sm-3 col-sm-9">
          <button  nbButton status="primary" (click)="login()">Logga in</button>

        </div>

        </form>
      </nb-card-body>
      <nb-card-body>
        <form class="form-inline">
        <section class="another-action" aria-label="Register">
          Har du inget konto?<a class="text-link" routerLink="../register">Register</a>
        </section>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

